
#wrapper{
	padding: 50px 0 0 325px;
}

.futurico-theme.slider-wrapper {
	position:relative;
	width:1100px;
	height:360px;
	margin:0 auto;
	padding:0;
}

.futurico-theme .nivoSlider {
	position: relative;
	width: 1100px;
	height: 360px;
}

.futurico-theme .nivoSlider img {
	display: none;
	position: absolute;
	width: 1100px;
	height: 360px;
	top: 0;
	left: 0;
}

.futurico-theme .nivo-controlNav {
	position: absolute;
	bottom: 40px;
	left: 105px; /* Change this to center the navigation */
}

.futurico-theme .nivo-controlNav a {
	display: block;
	float: left;
	width: 6px;
	height: 6px;
	margin-right: 5px;
	text-indent: -99999px;
	background: #5b5b5b;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

.futurico-theme .nivo-controlNav a.active,
.futurico-theme .nivo-caption span {
	width:26px;
	height:6px;
	background: #5b5b5b;
}
/*.futurico-theme .nivo-caption span {
	background: #a5cd4e;
	background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
	background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);

	-webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 1px 1px rgba(0,0,0, .3);
	-moz-box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 1px 1px rgba(0,0,0, .3);
	box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 1px 1px rgba(0,0,0, .3);
}
*/
.futurico-theme .nivo-directionNav a {
	display: block;
	top: 153px;
	text-align:center;
	width:50px;
	height:50px;
	font-weight: normal;
	font-family:'Poppins', sans-serif;
	font-size: 50px;
	color: #333;
	/*text-shadow: 0px 1px 1px rgba(255,255,255, 1);*/
	background:#fff;
	line-height:55px;
}

.futurico-theme a.nivo-prevNav { left:0; }

.futurico-theme a.nivo-nextNav { right:0; }

.futurico-theme .nivo-caption {
	padding: 5px 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #e1e1e1;

	background: #000000;

	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.futurico-theme .nivo-caption span {
	display: inline-block;
	width: 5px;
	height: 5px;
	margin: 0 5px 1px 5px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.futurico-theme .nivo-caption em {
	font-family: Georgia, sans-serif;
	font-size: 11px;
	color: #727581;
}
